.remote-user{
    position: relative;
    width: 90%;
    height: 200px;
    border-radius: 20px;
    .remote-video{
        height: 200px;
        width: 100%;
        background-color: black;
        object-fit: cover;
        border-radius: 20px;
        transform: rotateY(180deg);
    }
    .user-name{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 500;
    }
    .remote-avatar{
        height: 240px;
        border-radius: 20px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar-icon{
            width: 100px;
            height: 100px;
            font-size: 50px;
        }
    }
    .audio-icon{
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
        .mic-icon{
            color: var(--primary-color-green);
        }
    }
}