// .meet-container{
//     background-color: var(--background-steelgray);
//     height: 100vh;
//     position: relative;
//
//     flex-direction: column;
//     .meet-main{
//         height: 90%;
//         position: relative;
//         display: flex;
//         .video-container{
//             width: 77%;
//             position: relative;
//             .local-tile{
//                 .local-video{
//                     transform: rotateY(180deg); 
//                 }
//             }
//         }
//         .chat-container{
//             width: 23%;
//         }
        
//     }
//     .meet-controls{
//         position: absolute;
//         bottom: 0;
//         width: 100%;
//         height: 10%;
//         background-color: var(--background-blackmatte);
//     }
// }

.meet-container{
    background-color: var(--background-steelgray);
    height: 100vh;
    position: relative;
    margin: 0;
    .meet-main{
        height: 90%;
        position: relative;
        padding: 0;
        display: flex;
        .video-container{
            position: relative;
            height: 100%;
            width: 80%;
        }
        .chat-container{
            width: 20%;
            padding: 20px;
            background-color: black;
        }
    }
    .meet-controls{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        background-color: var(--background-blackmatte);
    }
}