.meet-container{
    background-color: var(--background-steelgray);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    .meet-main{
        height: 90%;
        position: relative;
        .local-tile{
            .local-video{
                transform: rotateY(180deg); 
            }
        }
    }
    .meet-controls{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        background-color: var(--background-blackmatte);
    }
}